.home{
  background-image: linear-gradient(to right, rgba($lightBlue, .2), #fff);
  position: relative;
  padding-bottom: 80px;
}

.bannerHome{
  position: relative;
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;

  @include grid-media($grid-sm){
    height: 60vh;
  }
}

.bannerHome-title{
  @include grid-column(6);
  @include grid-push(1);
  font-size: 3em;
  color: $darkBlue;
  margin-bottom: 20%;
  position: relative;
  z-index: 1;

  @include grid-media($grid-lg){
    @include grid-column(6);
    @include grid-push(2);
  }

  @include grid-media($grid-sm){
    @include grid-column(6);
    @include grid-push(0);
    font-size: 2.4em;
  }

  @include grid-media($grid-xs){
    @include grid-column(4);
    @include grid-push(0);
    font-size: 2.4em;
  }
}

.bannerHome-image{
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 80vh;

  @include grid-media($grid-sm){
    height: 60vh;
  }

  &:after{
    content: '';
    background-image: linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,0));
    height: 30%;
    position: absolute;
    top: 0;
    left: 0;
    height: 30%;
    width: 100%;
  }

  img{
    @include imageClip('img/bannerHomeClip.svg');
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.sustainabilityHome{
  padding: 80px 0;

  @include grid-media($grid-sm){
    padding-bottom: 40px;
  }
}

.sustainabilityHome-content{
  @include grid-column(5);
  @include grid-push(1);
  position: relative;
  z-index: 1;

  @include grid-media($grid-lg){
    @include grid-column(5);
    @include grid-push(2);
  }

  @include grid-media($grid-sm){
    @include grid-column(8);
    @include grid-push(0);
  }

  @include grid-media($grid-xs){
    @include grid-column(4);
    @include grid-push(0);
  }
}

.sustainabilityHome-title{
  @include title($darkBlue);
}

.sustainability-image{
  @include grid-column(4);
  @include grid-push(1);
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  z-index: 1;

  @include grid-media($grid-lg){
    @include grid-column(4);
    @include grid-push(1);
  }

  @include grid-media($grid-sm){
    display: none;
  }

  @include grid-media($grid-xs){
    display: none;
  }
}

.sustainability-bg{
  position: absolute;
  margin: 0;
  bottom: 0;
  right: 0;
  width: 70%;
  z-index: 0;
  @include imageClip('img/shapeHome.svg');
  mask-size: contain;
  -webkit-mask-size: contain;
  -webkit-mask-position: bottom right;
  mask-position: bottom right;
  background-image: linear-gradient(to right, $lightBlue, $darkBlue);

  img{
    width: 100%;
    opacity: .15;
  }
}

.statistics-container{
  @include grid-column(10);
  @include grid-push(1);
  position: relative;
  z-index: 1;
  clear: both;

  @include grid-media($grid-lg){
    @include grid-column(10);
    @include grid-push(2);
  }

  @include grid-media($grid-sm){
    @include grid-column(8);
    @include grid-push(0);
  }

  @include grid-media($grid-xs){
    @include grid-column(4);
    @include grid-push(0);
  }
}

.statistics-list{
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  @include grid-container;
  @include grid-collapse;
  display: flex;
  flex-wrap: wrap;
}

.statistic{
  @include grid-column(3);
  padding: 40px 20px;
  text-align: center;
  list-style: none;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0,0,0,.15);

  @include grid-media($grid-sm){
    @include grid-column(4);
    margin-bottom: 30px;
  }

  @include grid-media($grid-xs){
    @include grid-column(4);
    margin-bottom: 30px;
  }
}

.statistic-icon{
  display: block;
  margin: 0 auto 20px;
}

.statistic-title{
  font: $bold 2em $font;
  color: $darkBlue;
  margin: 0 0 20px;
}

.statistic-description{
  color: rgba($darkBlue, .7);
  margin: 0;
}

.map{
  padding-top: 50px;

  @include grid-media($grid-xs){
    display: none;
  }
}

.map-container{
  width: 100%;
  height: 550px;
}

.map-title{
  text-align: center;
  @include title;
}

.map-wrapper{
  position: relative;
}

.map-projects{
  @include grid-column(10);
  position: absolute;
  margin: 0;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  border-radius: 20px;
  padding: 0 30px;

  @include grid-media($grid-lg){
    @include grid-column(8);
  }

  @include grid-media($grid-sm){
    @include grid-column(8);
    margin: 0;
  }

  @include grid-media($grid-xs){
    @include grid-column(4);
    margin: 0;
  }
}

.map-list{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.map-item{
  padding: 30px 20px;
  list-style: none;
  display: flex;
  align-items: center;

  &:not(:last-child){
    margin-right: 30px;
  }

  &.eolica {
    .map-icon{ background-image: url(img/iconEolic-blue.svg); }
  }

  &.solar{
    .map-icon { background-image: url(img/iconSolar-blue.svg);}
  }
}

.map-icon{
  width: 45px;
  height: 45px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-right: 20px;
}

.map-itemTitle{
  font: $bold 1.2em $font;
  color: $darkBlue;
  margin: 0 0 5px;
}

.map-itemLocation{
  font: 0.9em $font;
  color: $darkBlue;
  margin: 0;
}

.projectsHome{
  padding: 80px 0;
  background-image: linear-gradient(to right, rgba($lightBlue, .1), transparent);
  position: relative;

  .container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &:after{
    content: '';
    position: absolute;
    width: 50%;
    height: 900px;
    background: url(img/projectsShape.svg) right center no-repeat;
    background-size: contain;
    right: 0;
    z-index: -1;
    top: 0;
  }
}

.projectsHome-content{
  @include grid-column(3);
  @include grid-push(1);

  @include grid-media($grid-lg){
    @include grid-column(3);
    @include grid-push(2);
  }

  @include grid-media($grid-sm){
    @include grid-column(6);
    @include grid-push(1);
    margin-bottom: 40px;
  }

  @include grid-media($grid-xs){
    @include grid-column(4);
    @include grid-push(0);
    margin-bottom: 30px;
  }
}

.projectsHome-title{
  @include title;
  margin: 0 0 30px;
}

.projectsHome-text{
  @include paragraph;
}

.projectsHome-featuredProjects{
  @include grid-column(6);
  @include grid-push(1);

  @include grid-media($grid-lg){
    @include grid-column(6);
    @include grid-push(1);
  }

  @include grid-media($grid-sm){
    @include grid-column(8);
    @include grid-push(0);
  }

  @include grid-media($grid-xs){
    @include grid-column(4);
    @include grid-push(0);
  }
}

.projectsHome-featuredWrap{
  @include grid-container;
  @include grid-collapse;
}

.projectHome-item{
  @include grid-column(5 of 7);
  border-radius: 20px;
  box-shadow: 0, 3px, 6px, rgba(0,0,0,0.15);
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  background: $yellow;
  margin-bottom: 30px;

  &:nth-child(odd){
    @include grid-push(2 of 7);
    background-color: $lightBlue;
  }

  @include grid-media($grid-xs){
    @include grid-column(4);
    @include grid-push(0);

    &:nth-child(odd){
      @include grid-push(0);
    }
  }
}

.projectHome-content{
  width: 70%;
  padding: 60px 30px;
}

.projectHome-label{
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.8em;
}

.projectHome-title{
  font: $bold 1.2em $font;
  margin: 0;
}

.projectHome-thumb{
  -webkit-mask-image: url('img/projectsImageClip.svg');
  mask-image: url('img/projectsImageClip.svg');
  -webkit-mask-position: top right;
  mask-position: top right;
  mask-size: contain;
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  margin: 0;
  width: 30%;
  position: relative;

  img{
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
  }
}

