.aboutChildren {
  padding: 0 0 80px;
  background: url(img/institucional-bg.jpg) center no-repeat $darkBlue;
  background-size: cover;
}

.aboutChildren-items {
  @include grid-column(10);
  @include grid-push(1);

  @include grid-media($grid-xs) {
    @include grid-column(4);
  }
}

.aboutChildren-list {
  @include grid-container;
  @include grid-collapse;
  margin-top: -40px;
  margin-bottom: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  & > .card {
    @include grid-column(5 of 10, $grid);

    @include grid-media($grid-sm) {
      @include grid-column(6 of 6);
    }

    @include grid-media($grid-xs) {
      @include grid-column(4);
    }
  }
}
