// Mixins
@mixin imgreplace{
  text-indent: -9000px;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  display: inline-block;
}

@mixin clearfix{
  &:after{
    content: "";
    display: table;
    clear: both;
  }
}

@mixin paragraph($color:rgba($darkBlue, .7)){
  font: 200 1em/1.7em $font;
  color: $color;

  &:first-child, p:first-child{
    margin-top: 0;
  }

  &:last-child, p:last-child{
    margin-bottom: 0;
  }
}

@mixin imageClip($image){
  -webkit-mask-image: url($image);
  mask-image: url($image);
  -webkit-mask-position: bottom center;
  mask-position: bottom center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-size: cover;
  -webkit-mask-size: cover;
}

@mixin title($color: $darkBlue){
  font: $bold 2.5em $font;
  color: $color;
}