* {
  box-sizing: border-box;
}

body {
  font: 18px $font;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

figure {
  img {
    max-width: 100%;
    height: auto;
  }
}

button {
  cursor: pointer;
}

header {
  padding: 20px 0;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @include grid-media($grid-xs) {
    height: 110px;
  }
}

.container {
  @include grid-container;
}

.logo {
  margin-top: 0;
  margin-bottom: 0;
  @include grid-column(3);

  @include grid-media($grid-sm) {
    @include grid-column(8);
    @include grid-push(0);
    margin-bottom: 20px;
  }

  @include grid-media($grid-xs) {
    @include grid-column(3);
    @include grid-push(0);
  }

  a {
    @include imgreplace;
    background: url(img/logo.svg) top left no-repeat;
    background-size: contain;
    width: 240px;
    height: 55px;

    @include grid-media($grid-sm) {
      margin: 0 auto;
      display: block;
      width: 200px;
      height: 50px;
    }
  }
}

.navigation {
  @include grid-column(7);
  display: flex;
  align-items: center;

  @include grid-media($grid-sm) {
    @include grid-column(6);
  }

  @include grid-media($grid-xs) {
    width: 100%;
    top: 110px;
    left: 0;
    position: absolute;
    display: flex;
    height: 0;
    background: #fff;
    z-index: 999;
    margin: 0;
    flex-direction: column;
    transition: all 0.5s;
    overflow: hidden;

    &.active {
      display: flex;
      height: calc(100vh - 110px);
      padding: 30px 30px 80px 30px;
    }

    .menu-navigation-container {
      flex: 1;
      display: flex;
    }
  }

  .menu {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;

    @include grid-media($grid-xs) {
      width: 100%;
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  .menu-item {
    list-style: none;
    font: $bold 1em $font;
    margin-right: 20px;
    position: relative;

    @include grid-media($grid-xs) {
      margin-bottom: 30px;
      font: 1.8em $font;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &:last-child {
      margin-right: 0;
    }

    &.current-menu-item {
      &:after {
        content: '';
        top: calc(100% + 10px);
        height: 2px;
        width: 100%;
        position: absolute;
        left: 0;
        background: linear-gradient(to right, $yellow, $orange);
      }
    }

    & > a {
      color: $darkBlue;
      text-decoration: none;
    }
  }
}

.toggleMenu {
  @include imgreplace;
  display: none;
  width: 30px;
  height: 30px;
  position: relative;
  margin-right: 30px;

  @include grid-media($grid-xs) {
    display: block;
  }

  .dash1,
  .dash2,
  .dash3 {
    width: 100%;
    height: 4px;
    border-radius: 25px;
    background: $lightBlue;
    position: absolute;
    transition: all 0.5s;
  }

  .dash1 {
    top: 0;
    left: 0;
    transform-origin: bottom left;
  }

  .dash2 {
    top: 50%;
    margin-top: -2px;
    left: 0;
  }

  .dash3 {
    bottom: 0;
    left: 0;
    transform-origin: top left;
  }

  &.active {
    .dash1 {
      transform: rotate(45deg);
      width: 35px;
    }
    .dash3 {
      transform: rotate(-45deg);
      width: 35px;
    }
    .dash2 {
      width: 0;
    }
  }
}

.social {
  @include grid-column(1);
  margin-right: 30px;
  text-align: right;

  @include grid-media($grid-xs) {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0;
  }

  @include grid-media($grid-sm) {
    @include grid-column(2);
  }
}

.icon-linkedin {
  @include imgreplace;
  width: 36px;
  height: 36px;
  background: url(img/linkedin.svg) center no-repeat;
  background-size: contain;
}

footer {
  padding: 80px 0;
  background-image: linear-gradient(to right, $darkBlue, $lightBlue);

  @include grid-media($grid-xs) {
    display: none;
  }
}

.footer-logo {
  @include grid-column(3);
  @include imgreplace;
  background: url(img/logo_white.svg) top left no-repeat;
  background-size: contain;
  width: 200px;
  height: 45px;

  @include grid-media($grid-lg) {
    @include grid-column(3);
    @include grid-push(1);
  }

  @include grid-media($grid-sm) {
    @include grid-column(4);
    @include grid-push(2);
    background-position: center;
    margin-bottom: 40px;
  }
}

.footer-menu {
  @include grid-column(5);

  @include grid-media($grid-lg) {
    @include grid-column(5);
  }

  text-align: center;
  color: #fff;

  @include grid-media($grid-sm) {
    @include grid-column(8);
    margin-top: 40px;
    margin-bottom: 40px;
  }

  > a {
    text-decoration: none;
    color: inherit;
  }
}

.footer-contact {
  @include grid-column(4);
  margin-bottom: 40px;
  margin-top: 0;
  padding: 0;
  font-size: 0.9em;

  @include grid-media($grid-lg) {
    @include grid-column(4);
  }

  @include grid-media($grid-sm) {
    display: none;
  }
}

.footer-contactInfo {
  list-style: none;
  display: flex;
  color: #fff;
  margin-bottom: 20px;

  & > i {
    width: 20px;
    height: 20px;
    margin-top: 5px;
    margin-right: 15px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  p {
    margin: 0;
    flex: 1;
    font: 1em $font;
    line-height: 1.5;
  }
}

.contactIcon-phone {
  background-image: url(img/iconPhone.svg);
}
.contactIcon-email {
  background-image: url(img/iconEmail.svg);
}
.contactIcon-address {
  background-image: url(img/iconLocation.svg);
}

.patria {
  text-align: center;
  @include grid-column(6);
  @include grid-push(3);
  margin-top: 30px;
  margin-bottom: 30px;

  img {
    max-width: 350px;
    height: auto;
  }
}

.copyright {
  @include grid-column(5);
  @include grid-push(1);
  color: #fff;

  @include grid-media($grid-lg) {
    @include grid-column(5);
    @include grid-push(2);
  }

  @include grid-media($grid-sm) {
    @include grid-column(6);
    @include grid-push(1);
    text-align: center;
    margin-bottom: 40px;
  }

  p {
    margin-bottom: 0;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.signature {
  @include grid-column(5);
  text-align: right;

  @include grid-media($grid-lg) {
    @include grid-column(6);
  }

  @include grid-media($grid-sm) {
    @include grid-column(6);
    @include grid-push(1);
    text-align: center;
  }

  a {
    @include imgreplace;
    background: url(img/maquinario.svg) center no-repeat;
    background-size: contain;
    width: 25px;
    height: 25px;

    &:hover {
      animation: spin infinite linear 2s;
    }
  }
}

.page {
  padding: 80px 0;
}

.page-content {
  @include grid-column(8);
  @include grid-push(2);

  @include grid-media($grid-lg) {
    @include grid-column(10);
    @include grid-push(2);
  }

  @include grid-media($grid-sm) {
    @include grid-column(8);
    @include grid-push(0);
  }

  @include grid-media($grid-xs) {
    @include grid-column(4);
    @include grid-push(0);
  }
}

.page-title {
  @include title;
  margin: 0 0 40px;
}

.page-text {
  @include paragraph;

  .wp-block-separator {
    margin: 50px 0;
    border: 0;
    border-bottom: solid 1px $lightBlue;
  }

  h3:not(:first-child) {
    margin-top: 40px;
    color: $darkBlue;
  }

  a[href^='http'] {
    color: $darkBlue;
  }

  a[href$='.pdf'] {
    color: $darkBlue;
    padding: 10px 20px;
    font: $bold 0.9em $font;
    text-decoration: none;
    border: solid 1px rgba($darkBlue, 0.2);
    border-radius: 5px;
    background: rgba($darkBlue, 0.05);
    margin-bottom: 10px;
    display: inline-flex;

    &:before {
      content: '';
      background: url(img/iconPdf-lightBlue.svg) top center no-repeat;
      background-size: contain;
      width: 25px;
      min-width: 25px;
      height: 25px;
      display: inline-block;
      margin-right: 15px;
    }
  }
}
