*{
  box-sizing: border-box;
}

body{
  font: 18px $font;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}

figure{
  img{
    max-width: 100%;
    height: auto;
  }
}

button{
  cursor: pointer;
}

header{
  padding: 20px 0;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.container{
  @include grid-container;
}

.logo{
  @include grid-column(3);
  @include grid-push(1);
  a{
    @include imgreplace;
    background:url(img/logo.svg) top left no-repeat;
    background-size: contain;
    width: 240px;
    height: 55px;
  }
}

.social{
  @include grid-column(2);
  margin-right: 30px;
  text-align: right;
}

.icon-linkedin{
  @include imgreplace;
  width: 36px;
  height: 36px;
  background: url(img/linkedin.svg) center no-repeat;
  background-size: contain;
}